@import '../../SCSS/mixins';
@import '../../SCSS/variables';

.projects-container{
    .project-container{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        padding-bottom: 100px;
        margin-bottom: 24px;

        @include Desktop(){
            min-height: 280px;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 0;
        }

        .project-details{
            border-radius: 8px;
            width: 100%;
            color: var(--text);
            padding: 16px;
            padding-bottom: 112px;
            background-color: var(--light-background);
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            flex-direction: column;

            @include Desktop(){
                min-height: 280px;
                width: 80%;
                padding-bottom: 16px;
                padding-right: 25%;
                flex-direction: row;
            }

            .name{
                width: 100%;
                font-size: $regular;
                line-height: 22px;
                color: var(--secondary);
                padding-bottom: 8px;
                max-height: 52px;

                @include Desktop(){
                    height: auto;
                    font-size: $larger;
                    line-height: 30px;
                    padding-bottom: 12px;
                }
    
            }

            .description{
                width: 100%;
                font-size: $small;
                line-height: 20px;
                color: var(--text);
                padding-bottom: 8px;

                
                @include Desktop(){
                    font-size: $medium;
                    line-height: 25px;
                    padding-bottom: 12px;
                }
            }

            .stack{
                width: 100%;
                font-size: $small;
                line-height: 20px;
                color: var(--secondary);
                padding-bottom: 12px;

                @include Desktop(){
                    font-size: $medium;
                    line-height: 25px;
                    padding-bottom: 12px;
                }
            }

            .links{
                width: 100%;
                display: flex;
                align-items: center;

                .link{
                    margin-right: 16px;
                    cursor: pointer;
                }
            }

            .project-footer{
                align-self: flex-start;

                @include Desktop(){
                    align-self: flex-end;
                }
            }

        }

        .project-image{
            width: 80%;
            display: flex;
            justify-content: center;
            position: absolute;
            z-index: 2;
            bottom: 30px;

            @include Desktop(){
                justify-content: flex-end;
                right: 0;
                bottom: auto;
                width: 50%;
                height: auto;
            }

            img{
                width: 270px;

                @include Desktop(){
                    width: 380px;
                }
            }
        }
    }
}


// Card Data : 306px
// max - image height : 200