@import '../../SCSS/mixins';
@import '../../SCSS/variables';


.skillsContainer{
    .logoContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;

        .wrapper{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 6px 12px;
            border-radius: 4px;
            margin: 6px;
            border: none;
            background: var(--light-background);

            @include Desktop(){
                margin: 10px;
                padding: 8px 16px;
                background: var(--light-background);
            }

            .image-container{
                margin-right: 12px;
                .img{
                    width: auto;
                    height: 20px;
                    font-size: $small;

                    @include Desktop(){
                        height: 40px;
                        font-size: $medium;
                    }

                }
            }
            .label {
                color: var(--secondary);
            }
        }
    }
}