.navbar-container{
  width: 100%;

  .desktop-navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background: var(--light-background);

    .links-container{
      display: flex;
      align-items: center;
      justify-content: center;

      .link{
        margin-left: 40px;
        color: var(--text);

        &:hover{
          color: var(--primary);
        }
      }
    }
  }

  .drawer{
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background: var(--background);

    .crossContainer{
      display: flex;
      flex-direction: column;
      width: fit-content;
      color: var(--secondary);
    }
  }



  .sliderList {
    position: fixed;
    background-color: var(--primary);
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;

    .icon{
      color: var(--secondary);
      width: 100%;
      text-align: right;
    }

    ul{
      list-style-type: none;

      li {
        margin: 15px 0;
        padding-left: 5px;
        font-size: 16px;
        color: var(--background);
        height: 30px;
        border-bottom: 1px solid rgb(194, 194, 196);
      }
      Link {
        text-decoration: none;
      }
      li:hover {
        transform: scale(1.05);
        color: rgb(247, 247, 247);
      }
    }
  }
}