@import '../../SCSS/variables';

.navbar-container{
  width: 100%;

  .desktop-navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    background-color: var(--background);
    width: 100%;
    z-index: 999;
    top: 0;

    .links-container{
      display: flex;
      align-items: center;
      justify-content: center;

      .link{
        margin-left: 40px;
        color: var(--text);

        &:hover{
          color: var(--primary);
        }
      }
    }
  }

  .drawer{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: var(--background);
    position: fixed;
    z-index: 999;
    top: 0;

    .crossContainer{
      color: var(--secondary);
      width: 100%;
      text-align: right;
      cursor: pointer;

      &:hover{
        color: var(--primary);
      }
    }
  }



  .sliderList {
    position: fixed;
    background-color: var(--light-background);
    width: 70%;
    height: 100%;
    right: 0;
    top: 0;
    padding: 16px 24px;
    box-shadow: 0px 0px 18px 1px #393a3d;
    z-index: 999;

    .icon{
      color: var(--secondary);
      width: 100%;
      text-align: right;
      cursor: pointer;

      &:hover{
        color: var(--primary);
      }
    }

    ul{
      list-style-type: none;

      li {
        margin: 15px 0;
        padding-left: 5px;
        font-size: 16px;
        color: var(--secondary);
        height: 30px;

        &:hover {
          color: var(--primary) !important;
        }
      }
    }
  }
}