@import '../../SCSS/mixins';
@import '../../SCSS/variables';

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @include Desktop() {
       max-width: 1024px;
       padding: 0;
    }

    .social-links{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 16px;

        @include Desktop(){
            position: fixed;
            bottom: calc((100vh / 2 ) - 145px);
            right: 40px;
            display: flex;
            flex-direction: column;
            padding-bottom: px;
        }

        .icon{
            color: var(--secondary);
            margin: 0 8px;
            cursor: pointer;

            &:hover{
                color: var(--primary);
            }

            @include Desktop(){
                margin: 8px 0;
            }
        }

        .line{
            height: 1px;
            width: 60px;
            margin: 0 8px;
            background-color: var(--secondary);

            @include Desktop(){
                height: 60px;
                width: 1px;
                margin: 8px 0;
            }
        }

    }

    .developer{
        color: var(--secondary);
        padding-bottom: 32px;
        cursor: pointer;
        text-align: center;
        font-size: $smaller;
        
        &:hover{
            color: var(--primary);
        }

        @include Desktop(){
            font-size: $regular;
        }
    }
}

.home{
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .head{

        .hi{
            color: var(--secondary);
            font-size: $regular;

            @include Desktop() {
              font-size: $larger;
            }
        }

        .name{
            color: var(--secondary);
            font-weight: bold;
            font-size: $largest;
            line-height: 40px;
            margin: 8px 0 12px 0;

            @include Desktop() {
                font-size: $huge;
                line-height: 74px;
                margin: 12px 0;
            }
        }

        .dev{
            color: var(--text);
            font-weight: bold;
            font-size: $largest;
            line-height: 40px;

            @include Desktop() {
                font-size: $huge;
                line-height: 74px;
            }
        }

        .dev-description{
            padding-top: 16px;
            font-size: $medium;
            color: var(--text);
            line-height: 25px;

            @include Desktop() {
                font-size: $larger;
                line-height: 30px;
            }
        }

        .button{
            margin-top: 32px;

            @include Desktop() {
                margin-top: 54px;
            }

            button{
                font-size: $small;
                line-height: 20px;

                @include Desktop() {
                    font-size: $medium;
                    line-height: 22px;
                }
            }

            .workbtn{
                margin-right: 12px;

                @include Desktop() {
                    margin-right: 24px;
                }
            }
        }
    }
}