@import '../../SCSS/variables';
@import '../../SCSS/mixins';


.contactContainer{
    .thankYou{
        color: var(--text);
        font-size: $medium;
        line-height: 25px;
    }

    .email-container{
        width: 100%;
        display: flex;
        justify-content: center;

        @include Desktop(){
            display: flex;
            justify-content: flex-start;
        }
        .emailOuter{
            width: fit-content;
            margin-top: 22px;
            .emailContainer{
                display: flex;
                align-items: center;
            }
            .email{
                font-size: $regular;
                color: var(--secondary);
                padding-left: 12px;

                @include Desktop(){
                    font-size: $large;
                }
            }

            &:hover{
                .email{
                    color: var(--primary);
                }
            }
        }
    }
}