@import "./SCSS/_variables.scss";
@import "./SCSS/mixins";
body {
  padding: 0;
  margin: 0;
  height: auto;
  font-family: "Roboto", sans-serif;
  background: url("./Images/topBlue.png") top right / 30% no-repeat,
    url("./Images/leftBlue.png") top left / 30% no-repeat;
  @include Mobile() {
    padding: 0;
    margin: 0;
    background: url("./Images/topBlue.png") top right/ 60% no-repeat,
      url("./Images/leftBlue.png") center left / 30% no-repeat;
  }
}

.MyTransitionAppear,
.MyTransitionEnter {
  position: absolute;
  opacity: 0;
  z-index: 1;
  transform: translateX(-100%);
}
.MyTransitionAppearActive,
.MyTransitionEnter.MyTransitionEnterActive {
  position: absolute;
  opacity: 1;
  transform: translateX(0%);
  transition: all 200ms linear 100ms;
}

.MyTransitionExit {
  position: absolute;
  opacity: 1;
  transform: translateX(0%);
}

.MyTransitionExit.MyTransitionExitActive {
  position: absolute;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0ms linear;
}

html {
  font-size: 65.5%;
}
// url("./Images/rightYello.png") 100% 100% / 10% no-repeat;
