@font-face {
    font-family: 'Noto Sans';
    font-weight: 200;
    src: url(../assets/fonts/NotoSans-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 400;
    src: url(../assets/fonts/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 700;
    src: url(../assets/fonts/NotoSans-Bold.ttf) format('truetype');
}