// $baseFont: 1.6rem;
// $subhead3: 1.8rem;
// $subhead2: 2.5rem;
// $subhead1: 3.5rem;
// $head2: 4.5rem;
// $head1: 8.5rem;

$baseFont: 1.6rem;
$subhead3: 1.8rem;
$subhead2: 2.5rem;
$subhead1: 3.5rem;
$head2: 3.2rem;
$head1: 5.5rem;

$baseColor: #a2a5e1;
$darkColor: #2e2f58;
$redColor: #f56b6b;
$light: #6ff4bc;
$lightss: #8c6ff4;
$lightss: #ff685b;
