@import '../../SCSS/mixins';
@import '../../SCSS/variables';

.aboutContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .skillsWrapper{
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 16px;

        @include Desktop(){
           margin-bottom: 48px;
        }

        .skills{
            color: var(--primary);
            @include Desktop(){
                font-size: $largest;
                line-height: 31px;
            }
        }

        .line{
            width: 200px;
            height: 1px;
            background: var(--primary);
            margin-left: 20px;
        }
    }

    .imgContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 24px;

        @include Desktop(){
            width: 50%;
            padding-bottom: 0;
        }
    }

    .aboutTextContainer{
        width: 100%;

        @include Desktop(){
            width: 50%;
        }

        .aboutText{
            color: var(--text);
            font-size: $regular;
            line-height: 24px;

            @include Desktop(){
                font-size: $medium;
                line-height: 30px;
            }
        }

    }

}