@import "../../SCSS/mixins";
@import "../../SCSS//variables";

$rl: 0%;
$tb: 0%;

.back {
  height: fit-content;
  margin: 0 auto;
  padding: 15% 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: url("../../Images/topBlue.png") top right/ 60% no-repeat,
  //   url("../../Images/leftBlue.png") 0% 20% / 30% no-repeat;

  @include Desktop() {
    padding-top: 10%;
  }
  .head {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;

    .hello {
      padding-top: 25px;
      justify-self: flex-start;
      align-self: flex-start;
      font-size: $subhead2;
      color: #58586d;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      margin: 0;

      @include Desktop() {
        font-size: $head1;
      }
    }
    .name {
      padding-top: 5px;
      justify-self: flex-start;
      align-self: flex-start;
      font-size: 3.8rem;
      font-weight: 300;
      color: #2e2f58;
      text-align: left;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 5px;
      margin: 0;

      @include Desktop() {
        font-size: 8.2rem;
        letter-spacing: 5px;
      }
    }
    .dev {
      padding-top: 10px;
      font-size: 2rem;
      font-weight: 300;
      color: #646469;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      margin: 0;
      letter-spacing: 2px;
      text-align: left;

      @include Desktop() {
        font-size: $subhead2;
      }
    }
  }
}
.button {
  padding-top: 30px;
  display: flex;
  @include Desktop() {
    padding-top: 50px;
  }
  .Workbtn {
    justify-self: flex-start;
    align-self: flex-start;
    width: 130px;
    height: 50px;
    font-size: 1.4rem;
    font-family: roboto;
    letter-spacing: 1px;
    background-color: transparent;
    color: $darkColor;
    box-shadow: 0px 0px 8px rgb(165, 165, 165);
    border: none;
    z-index: 2;
    border-radius: 25px;
    background-image: linear-gradient(
      to bottom,
      rgb(8, 241, 152),
      rgb(48, 220, 250)
    );
    margin-right: 15px;
  }
  @include Desktop() {
    .Workbtn {
      width: 150px;
      height: 50px;
      color: $darkColor;
      font-size: 1.6rem;
    }
  }
  .Workbtn:hover {
    background-image: linear-gradient($baseColor, $baseColor);
    color: #ffffff;
  }
}
.Aboutbtn {
  justify-self: flex-start;
  align-self: flex-start;
  width: 130px;
  height: 50px;
  font-size: 1.4rem;
  font-family: roboto;
  letter-spacing: 1px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgb(194, 194, 194);
  border: 1px solid rgb(8, 241, 152);
  z-index: 2;
  border-radius: 25px;
  color: rgb(8, 241, 152);

  a {
    color: rgb(53, 184, 133);
  }

  a:hover {
    color: $baseColor;
  }
}

@include Desktop() {
  .Aboutbtn {
    width: 150px;
    height: 50px;
    font-size: 1.6rem;
  }
}
// .bottomShapes {
//   width: 100%;
//   .bottomRight {
//     position: relative;
//     right: 20%;
//     filter: opacity(0.2) hue-rotate(15deg) drop-shadow(0px 0px 10px #2c08556c);

//     animation: bottomCenter 7s 0s linear infinite alternate-reverse;
//   }
//   .bottomCenter {
//     position: relative;
//     left: 0%;
//     bottom: 100px;
//     width: 100px;
//     filter: opacity(0.5) drop-shadow(0px 0px 10px #2f2070);
//     animation: bottomRight 10s 0s linear infinite alternate-reverse;
//   }
// }
// @keyframes bottomCenter {
//   0% {
//     position: relative;
//     right: 20%;
//   }
//   50% {
//     position: relative;
//     right: 25%;
//     transform: rotateX(10deg);
//   }
// }
// @keyframes bottomRight {
//   0% {
//     left: 0%;
//     bottom: 100px;
//     width: 100px;
//     filter: opacity(0.5) drop-shadow(0px 0px 10px #2f2070);
//   }
//   50% {
//     position: relative;
//     left: 5%;
//     bottom: 90px;
//     right: 50px;
//     width: 90px;
//     filter: opacity(0.2) drop-shadow(0px 0px 10px #2f2070);
//   }
// }

// .bottomRight {
//   padding: 0px;
// }
// .home {
//   background: url(./bottomBlue.png) 5% 45%/ 200px no-repeat,
//     url(./topDark.png) 90% 0%/ 50% no-repeat;
//   animation: backk 5s 0s linear infinite alternate-reverse;
// }

// @keyframes backk {
//   0% {
//     background: url(./bottomBlue.png) 5% 45%/ 200px no-repeat,
//       url(./topDark.png) 90% 0%/ 50% no-repeat;
//   }
//   50% {
//     background: url(./bottomBlue.png) 5% 50%/ 230px no-repeat,
//       url(./topDark.png) 90% 0%/ 45% no-repeat;
//   }
// }
